
#loginBoxed{
    max-width: 380px;
    border-radius: 18px !important;
    border: none;
    box-shadow: -2px 0rem 3rem 0px rgba(169, 169, 169, 0.15);
}
#imagenLogin{
  width: 18rem;
}


#imgTbl_Productos{
  min-height:120px; 
  max-height:120px; 
  min-width: 100px;
  max-width: 100px;
  border:none;
}

#imgTbl_Productos:hover{
    box-shadow: -2px 0rem 2rem 0px rgba(241, 238, 238, 0.705);
}